* {
  background-color: burlywood;
  font-size: 14px;
}

/*Contenedor flex en article para ordenar los elementos contenidos en él, los ordenamos centramos con respecto al eje vertical.*/
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2px;
  border: black solid 1px;
}

h3 {
  color: brown;
  margin: 0%;
}

img {
  height: 30%;
  width: 50%;
}

p {
  margin: 0.5%;
}


@media only screen and (min-width: 576px) {
  * {
    font-size: 18px;
  }

  img {
    height: 45%;
    width: 45%;
  }

}

@media only screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }

  /*Contenedor flex en section para ordenar los elementos contenidos en él (los divs), los ordenamos centramos con respecto al eje vertical.*/
  section {

    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: auto;

  }

  /*Contenedor flex en div para ordenar los elementos contenidos en él (los articles, es decir, las targetas), los ordenamos centramos con respecto al eje horizontal.*/
  div {

    display: flex;
    flex: 1;

  }

  img {
    height: 40%;
    width: 40%;
  }

}

@media only screen and (min-width: 992px) {
  * {
    font-size: 20px;
  }

  img {
    height: 50%;
    width: 50%;
  }
}
